.navbar {
  border-bottom: 2px solid #6e07f3;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-inline-start: 0px;
}

.navbar :hover {
  color: #6e07f3;
}

a:link {
  text-decoration: none;
}

.active {
  color: #6e07f3;
}

.inactive {
  color: black;
}
